
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    text-decoration: none;   
}
:root {
    --cor-texto-main-home: #DAA520;
    --cor-texto-links:#F2FA07;
    --cor-texto-fimpagina:#FFFFFF;
    --cor-texto-pagina:#FFFFFF;
    --cor-background1: #DAA520;
    --cor-background-main-home:#778899;
    --cor-background-main-home2:#778899;
    --cor-background-fimpagina:#9313E7;
    --cor-background-tabela:#A52828;
    --font-main-home:'Inika';
    --font-main-home2:Arial, Helvetica, sans-serif;
    --font-home-tabela: 'Playfair', serif;
    --font-links:'Montserrat', sans-serif;
    --font-ficha:'Oxygen', sans-serif;
    --font-artefatos-constelacoes:'Prompt', sans-serif;
    --cor-borda-main-home: #DAA520;
    --cor-stroke-main-home:#DAA520;
    --cor-stroke-main-links:#000000;
    --cor-stroke-botaohome2:#9F508E;
}

body {
    background-image: url(../imagens/1163981.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(../imagens/background.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    width: 100%;  
}

.botao_home {    
width: 80%;
}
main{
display: flex;
flex-direction: column;
padding: 1%;
}
.armas{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.tscroll{
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}
.tscroll::-webkit-scrollbar{
    background-color: var(--cor-background1);
    height: 30px;
}
.tscroll::-webkit-scrollbar-thumb{
    background-image: url(/imagens/cosmoscatpain.png);
    background-size: 5%;
    background-position: 5%;
}
.tscroll1{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    font-family: var(--font-home-tabela);
}
/* tscroll1 ainda não utilizavel */
.tscroll2{
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    font-family: var(--font-home-tabela);
}
.tscroll1::-webkit-scrollbar, 
.tscroll2::-webkit-scrollbar{
    background-color: var(--cor-background1);
    height: 30px;
}
.tscroll1::-webkit-scrollbar-thumb,
.tscroll2::-webkit-scrollbar-thumb{
    background-image: url(/imagens/cosmoscatpain.png);
    background-size: 5%;
    background-position: 5%;
}.tscroll1 td ,
.tscroll2 td  {
    max-lines: 2;
    min-width: 160px;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}       
.links{
    width: 100%;
    background-image:url(../imagens/footer.png);
    background-repeat: no-repeat;
    background-size: cover;  
    margin-top: 5%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 5px;     
}

.botao_calculadora{
    width: 100%;
    background-image: url(../imagens/calculadora_de_dano_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem;

}

.botao_mapa{
    width: 100%;
    background-image: url(../imagens/mapa_interativo_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem;  
}

.botao_abismo{
    width: 100%;
    background-image:url(../imagens/abismo_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem;
}

.botao_web{
    width: 100%;
    background-image: url(../imagens/web_login_diario_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem; 
}

.botao_akasha{
    width: 100%;
    background-image: url(../imagens/Akasha_System_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem;
}

.botao_enka{
    width: 100%;
    background-image: url(../imagens/enka.network_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem;   
}

.botao_twitter{
    width: 100%;
    background-image: url(../imagens/twitter_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem;  
}
.botao_lives{
    width: 100%;
    background-image: url(../imagens/lives_botao.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 3.5rem;
}

.botao_cima{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    justify-content: space-around;
    width: 100%;
}

.botao_baixo{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    justify-content: space-around;
    width: 100%; 
}
.tttt{
    color: var(--cor-texto-links);
    -webkit-text-stroke-color: var(--cor-stroke-main-links);
    -webkit-text-stroke-width: 1px;
    padding-top: 1%;
    padding-left: 20%;
    font-size: 1.5rem;
    font-family: var(--font-links);
}

.fim_pagina {       
    font-family: var(--font-main-home);
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    align-items: center;
    text-align: center; 
    color: var(--cor-texto-fimpagina);
    padding-top: 1%;
    padding-bottom: 1%;    
    width: 100%;
    background-color: var(--cor-background-fimpagina);
}

button :hover {
    background-image: url(../imagens/nahida_nerdola.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
/* RAIDEN SHOGUN */
.cabecalhos{
    display: flex;
    flex-direction: column;
}

.cabecalho2{
    display: flex;
    justify-content: space-around;
    background-image: url(../imagens/cabeçalho.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    width: 100%;
    align-items: center;
}
.botao_home2{
    font-size: 2rem;
    font-weight: 400;
    width: 100%; 
    color: #4D0741;
    -webkit-text-stroke-color: var(--cor-stroke-botaohome2);
    -webkit-text-stroke-width: 1px;
}

.main_personagem{
    width: 100%;
}

.main_tabela{
    width: 90%;
    padding-left: 10%;

}
.personagem{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #9313E7;
    color: #D9D9D9;
}
.ficha{
    text-align: center;
    
}
.rowspan{
    width: 20%;
    background-color:var(--cor-background1);
    border-radius: 12%;
}
.raiden{
    width: 90%;
    padding: 5%;
}

.personagem1{
    background-color:#FFFFFF;
    font-family: var(--font-ficha);
    width: 15%;
    border-radius: 10px;
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
}
.personagem2{
    background-color:var(--cor-background-tabela);
    width: 50%;
    border-radius: 10px;
    font-family: var(--font-ficha);
    

}
.estrela{
    color: #DAA520;
}
.icones{
    width: 20px;
    height: 20px;
}

.tabela{
    width: 100%;
}
.status{
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
}
.status1{
    margin-bottom: 1%;
    background-color: gray;
    color: var(--cor-texto-pagina);
}
.status2{
    background-color: var(--cor-background1);
    text-align: center;
    color: var(--cor-texto-pagina);
}
.status3{
    background-color: #9313E7;
    text-align: center;
    color: var(--cor-texto-pagina);
}
.status4{
    background-color:gray;
    color: var(--cor-texto-pagina);
}

.statusprincipal{
    background-color:var(--cor-background-tabela);
}
.passiva{
    background-color: gray;
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
}
.passiva1{
    display: flex;
    flex-direction:column;
    margin-top: 1%;
    margin-left: 1%;
    justify-content: center;
    gap: 10px;
}
.passiva2{
    background-color: var(--cor-background-tabela);
    text-align: center;
    color: var(--cor-texto-pagina);
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
    padding: 1%;
}
.passiva3{
    background-color: purple;
    text-align: center;
    color: var(--cor-texto-pagina);
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
    padding: 1%;
}
.destaque{
    color: black;
    font-weight: 900;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.gemas{
    width: 20%;
    background-color:#9313E7;
    padding: 1%;
}
.gemas1{
    width: 20%;
    background-color: var(--cor-background1);
    padding: 1%;
}

.tabela_head{
    background-color: var(--cor-background1);
    color: var(--cor-texto-pagina);
}

.tabela_ascensaomaterial{
    text-align: center;
    background-color: var(--cor-background-main-home);
    margin-top: 1%;
    margin-left: 1%;
}
.tabela_ascensao{
    text-align: center;
    margin-left: 1%;
}
.itemascensao{
    width: 20%;
    padding: 1%;
}
.itemascensao1{
    width: 10px;
    padding: 1%;  
}
/* ARMAS */
.armas_personagens{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    gap: 1%;
}
.armas_personagens1{
    width: 100%;
    background-color: #a55dc78e;
    border: solid #000000 1px;
    border-radius: 20px;
}
.armas_personagens1::-webkit-scrollbar 
{
    background-color: var(--cor-background1);
    height: 30px;
}
.armas_personagens1::-webkit-scrollbar-thumb 
{
    background-image: url(/imagens/cosmoscatpain.png);
    background-size: 5%;
    background-position: 5%;
}
.armas_personagens_estrelas{
    display: flex;
    background-color: #778899;
    border: solid #000000;
    border-radius: 20px;
    margin: 1px;
    padding: 1%;
    justify-content: center;
}
.tabela_armas{
    width: 90%;
    margin: 4%;
    border: solid black;
}
.tabela_head_armas{
    color: var(--cor-texto-pagina);
    background-color: #9313E7;
    text-align: center;
    font-size: 16px; 
}
.tabela_head_armas1{
    color: var(--cor-texto-pagina);
    background-color: var(--cor-background-tabela);
    font-size: 14px;
}
.armas_icon{
    width: 80%;
}
/* Artefatos */
.artefatos_personagens{
    display: flex;
    justify-content: center;
}
.artefatos_personagens1{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:gold;
}
.artefatos_personagens1::-webkit-scrollbar 
{
    background-color: var(--cor-background1);
    height: 30px;
}
.artefatos_personagens1::-webkit-scrollbar-thumb 
{
    background-color: white;
}
.tabela_artefatos{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.tabela_head_artefatos{
    color: var(--cor-texto-pagina);
    background-color: var(--cor-background-main-home);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}
.artefatos_icon{
    width: 10%;
    background-color: var(--cor-background1);
    font-family: var(--font-artefatos-constelacoes);
}
.artefatos_status{
    width: 30%;
    padding: 1%;    
}
.cor_status{
    background-color: black;
}
.main_artefatos{
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
}
/* CONSTELAÇÕES */
.constelacoes_personagens{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10%;
}
.constelacoes_personagens1{
    width: 100%;
    background-color: gold;
    border: solid #000000 1px;
    border-radius: 20px;
    padding: 1%;
}
.constelacoes_personagens1::-webkit-scrollbar 
{
    background-color: var(--cor-background1);
    height: 30px;
}
.constelacoes_personagens1::-webkit-scrollbar-thumb 
{
    background-color: white;
}
.constelacoes_icon{
    width: 100%;
}
.tabela_head_constelacoes{
    color: gold;
    background-color: var(--cor-background-main-home);
    text-align: center;
    font-size: 28px; 
}
.tabela_head_constelacoes1{
    color: #778899;
    background-color: purple;
    font-size: 20px;
    text-align: center;
    color: var(--cor-texto-pagina);
}
.tabela_constelacoes{
    width:100%;
    border: solid black 3px;
}
.constelacao_cor_texto{
    color: var(--cor-background1);
    font-weight: 900;
    font-size: 24px;
}
.main_constelacoes{
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
}
/* SKINS */
.main_skins{
    width: 100%;
}
.nota{
    background-color: var(--cor-background1);
    font-size: 28px;
    font-weight: bolder;
    color: black;
    text-align: center;
}
.skin_image{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.skins{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.creditos{
    background-color: var(--cor-background-tabela);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    color: #DAA520;
    font-weight: 900;
    margin-left: 7%;
    width: 88%;
}
/* Talentos */
.cor1{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: #00000075;
    padding: 1%;
    margin-top: 10px;
}

.cor3{ 
    background-color: #9313E7;
    display: flex;
    justify-content: center;
    padding: 1%;
    text-align: center;
    border-radius: 20px;
    color: #DAA520;
    font-weight: 800;

}
.cor4{
    background-color: var(--cor-background1);
    padding: 1%;
    border-radius: 20px;
    margin-top: 10px;
}
.cor5{
    background-color: pink;
    border-radius: 20px;
    padding: 1%;
    font-size: 1rem;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cor7{
    background-color:var(--cor-background-main-home);  
    padding: 1%;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
}

.cor8{
    background-color: var(--cor-background-main-home);  
    color: #000000;
    font-weight: 700;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cor9_1{
    background-color: var(--cor-background-tabela);
}
.cor9_1_1{
    background-color: var(--cor-background-tabela);
    color: var(--cor-texto-pagina);
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
}
.cor9{
    background-color: purple;
}
.cor10{
    background-color: blueviolet;
    color: var(--cor-texto-pagina);
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
}
.cor11{
    background-image: url(/imagens/nahida_nerdola.jpg);
    background-position: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}
.Honey{
    color: var(--cor-background1);
    font-weight: bolder;
    text-decoration:underline;
}
/*TIMES */
.cor4_1{
    background-color: var(--cor-background1);
    padding: 1%;
    border-radius: 20px;
    margin-top: 10px;
}
.cor5_1{
    background-color: var(--cor-background-main-home);
    text-align: center;
    border-radius: 20px;
    padding: 1%;
    font-size: 1rem;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
}
.cor6_1{
    background-color: var(--cor-background-main-home);
    -webkit-text-stroke-color: var(--cor-stroke-main-home);
    -webkit-text-stroke-width: 1px;
    border-radius: 20px;
    padding: 1%;
    font-size: 2rem;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.maineulatime{
    margin-bottom: 10%;
}


@media screen and (max-width:1550px){
    .tabela_head_armas1{
        color: var(--cor-texto-pagina);
        font-size: 12px;
        background-color:var(--cor-background-tabela); 
    }
    .armas_personagens{
        display: flex;
        flex-direction: column;
    }
    .tabela_head_armas{
        font-size: 12px;
    }
    .armas_personagens1{
        height: 100%;
    }
}
@media screen and (max-width: 1350px){
    .botao_cima{
        flex-direction: column;
    }
    .botao_baixo{
        flex-direction: column;
    }
@media screen and (max-width: 1200px){
    .skins{
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
    }
}
@media screen and (max-width:1150px){

}

}
@media screen and (max-width: 940px) {
    .cabecalho2{
        display: flex;
        flex-direction: column;
        background-image: url(../imagens/cabeçalho.png);
        background-size:cover;
        background-position: 50%;
    }
    .armas_personagens{
        display: flex;
        flex-direction: column;
    }
    .tabela_head_armas{
        font-size: 12px;
    }
    .armas_personagens1{
        height: 100%;
    }
    .skins{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 800px) {
    .materiais_armas_2{
        flex-direction: column;
        align-items: center;
        gap: 5px;      
    }

    .materiais_armas_3{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .materiais_talentos_2{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .materiais_talentos_3{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .item_arma{
        width: 10%;
    }
    .coluna_dias{
        flex-direction: row;
        font-size: 14px;
    }
    .materiais_armas_1{
        width: 100%;
    }
    .materiais_talentos_1{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .tabela_head{
        font-size: 8px;
     }
     .status2{
        font-size: 8px;
     }
     .status3{
        font-size: 8px;
     }
     .ficha{
        font-size: 10px;
     }
     .tscroll{
        overflow-x: auto;
    }
    .armas_personagens1{
        overflow-x: auto;
    }
    .artefatos_personagens1{
        overflow-x: auto;
    }
    .constelacoes_personagens1{
        overflow-x: auto;
    }
        
}
@media screen and (max-width: 500px) {
    .materiais_armas_2{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .materiais_armas_3{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .materiais_talentos_2{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .materiais_talentos_3{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .item_arma{
        width: 10%;
    }
    .coluna_dias{
        flex-direction: row;
        font-size: 10px;
    }
    .materiais_armas_1{
        width: 100%;
    }
    .materiais_talentos_1{
        width: 100%;
    }
    .materiais_armas_talentos{
        width: 100%;
    }
    
    .tscroll1,
    .tscroll2{
        overflow-x:scroll;
    }
    .armas_personagens1{
        overflow-x: auto;
    }
    .artefatos_personagens1{
        overflow-x: auto;
    } 
    .constelacoes_personagens1{
        overflow-x: auto;
    }
}


    










    
    


    
    
    
    
    






